{% block sidebar_wrapper %}
    <div
        id="sidebar"
        class="flex flex-col absolute z-50 -right-64 top-0 lg:static lg:left-auto lg:top-auto lg:right-auto lg:translate-x-0 h-screen overflow-y-scroll lg:overflow-y-auto no-scrollbar w-0 sidebar-expanded:!w-96 shrink-0 bg-slate-800 transition-all duration-200 ease-in-out"
        :class="sidebarOpen ? 'translate-x-0' : '-translate-x-64'"
        @click.outside="sidebarOpen = false"
        @keydown.escape.window="sidebarOpen = false"
        x-cloak="lg"
    >
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl" x-data="{tab: 1}">
            <div>
                <div class="pt-6 px-6 pb-3">
                    <div class="flex items-start justify-between">
                        <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">Chats</h2>
                        <div class="ml-3 flex h-7 items-center">
                            <button type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:ring-2 focus:ring-sky-500" @click="sidebarExpanded = false">
                                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-200">
                    <div class="px-6">
                        <nav class="-mb-px flex space-x-6">
                            {% for streamer in streamers %}
                                <a @click.prevent="tab = {{ loop.index }}" href="#" :class="{ 'border-sky-500 text-sky-600': tab == {{ loop.index }}, 'border-transparent hover:border-gray-300 hover:text-gray-700' : tab != {{ loop.index }} }" class="text-gray-500 whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium">
                                    <span>{{ streamer }}</span>
                                </a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </div>
            <div class="flex min-h-0 flex-1 flex-col overflow-y-scroll">
                {% for streamer in streamers %}
                    <div x-show="tab == {{ loop.index }}" id="twitch-chat-{{ loop.index }}">
                        <div class="twitch-chat-container">
                            <iframe id="twitch-chat-embed{{ loop.index }}" src="/blank.html" data-src="https://www.twitch.tv/embed/{{ streamer }}/chat?parent={{ app.request.getHttpHost() }}"></iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
